body {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  font-weight: 700;

  line-height: 170%;

  background-color: #F9F7FF;

  color: black;

  margin: 0;

  -webkit-perspective: 500px;
  perspective: 500px;

  -webkit-user-select: none;
  user-select: none;

  cursor: crosshair;

  overflow: hidden;
}

div#panel {
  position: relative;
  display: inline-block;
  float: left;

  box-sizing: border-box;

  width: 33.33%;
  min-height: 100%;
}

div#panel a {
  color: black;
  text-decoration: none;

  transition: all 200ms ease-in-out;
}

div#panel a:hover {
  cursor: pointer;
  color: #999999;

  transform: translateX(5px);
  display: inline-block;
}

div#panel-content {
  position: absolute;
  top: 50%;
  left: 4em;
  transform: translateY(-50%);
}

div#container-content {
  background-color: white;
  border: 1px dashed gray;

  position: relative;
  display: inline-block;
  float: right;

  box-sizing: border-box;

  width: 66.66%;
  min-height: 100%;
}

div#container-content:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0.2;
    background-image: url("//i.giphy.com/ToAj74r6xxRK0.gif");
    background-repeat: no-repeat;
  background-position: center;
    background-size: 0;
}

div#container-content.background:before {
  background-size: cover;
}

div#container-content a {
  color: #121926;
  text-decoration: none;
  text-shadow: 2px 2px #BAC1D1;
}

div#container-content a:hover {
  color: #999999;
  cursor: pointer;
}

div.frame {
  width: 100%;
  height: 100%;
}

div.frame-content {
  color: black;
  border: 2px solid black;

  padding: 1em;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

div#frame-resume div.frame-content {
  width: 80%;
  height: 80%;
}

iframe#embedded-resume {
  width: 80%;
  height: 60%;

  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

a#link-home {
  font-family: Inconsolata;

  text-shadow: 2px 2px #BAC1D1;
}

p.hint {
  font-size: 0.6em;
  opacity: 0.5;
}

marquee.on-frame {
  font-family: Inconsolata;
  font-size: 1.33em;

  background-color: black;
  color: pink;

  position: absolute;
  left: 0;

  width: 100%;
}

marquee.on-frame.top {
  top: 0;
}

marquee.on-frame.bottom {
  bottom: 0;
}

.hide {
  visibility: hidden;
}

div.frame#frame-home-2 div.frame-content {
  font-family: Inconsolata;

  background-color: black;
  color: white;
}
